body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: white;
    color: black;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    margin: 0;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15), 0 6px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.slogan{
    margin-top: 10px;
    font-size: 1.2em;
    color: #333;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header-logo img {
    width: 250px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.background-img {
    position: relative;
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    width: 100%;
    height: 100vh;
}

.background-img-section {
    position: relative;
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    width: 100%;
    height: 50vh;
}

.overlay-text-right {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0 ,0, 0.1);
    width: 450px;
}

.overlay-text-left {
    position: absolute;
    top: 40%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    /*border: 2px solid white;*/
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0 ,0, 0.1);
    width: 300px;
    font-size: 16px;
}

.overlay-text-center {
    position: absolute;
    top: 40%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    /*border: 2px solid white;*/
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0 ,0, 0.1);
    width: 300px;
    font-size: 16px;
}

.container {
    background-color: #f9f9f9;
    font-size: 18px;
    display: block;
}

.container .column {
    flex: 1;
    padding: 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    text-align: justify;
    height: 100%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container-card {
    padding: 2px 16px;
}

.nav-container {
    width: 100%;
    background-color: #333;
}

.navbar {
    overflow: hidden; 
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: flex;
}

.navbar li {
    margin: 0 10px;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 48px;
    text-transform: uppercase;
}

.navbar li a:hover {
    background-color: #111;
}

.centered-text {
    text-align: center;
    border: 3px solid black;
    padding: 10px;
}

.form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 15px;
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.submit-btn {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
}

.submit-btn:hover {
    background-color: #45a049;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

footer img {
    width: 32px;
}

.img-container {
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h3 {
    text-align: center;
    padding: 10px;
    margin: 0;
    font-size: 26px;
    text-transform: uppercase;
}

span {
    text-align: justify;
    font-size: 20px;
}

@media screen and (max-width: 768px) {
    .overlay-text {
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 10px;
    }

    .navbar li a {
        padding: 15px 10px;
    }

    .form-control {
        padding: 8px;
    }

    .submit-btn {
        padding: 8px 15px;
    }
}

.small-circle-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border: 2px solid #000;
    object-fit: cover;
}

.about-us {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.about-us:hover {
    transform: translateY(-10px);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.about-us h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.about-us p {
    color: #666;
    line-height: 1.6;
    text-align: justify;
}

.barberia-valores {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.barberia-valores li {
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.barberia-valores li:hover {
    transform: translateY(-10px);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.barberia-valores h2 {
    margin-top: 0;
    color: #333;
}

.barberia-valores p {
    margin: 10px 0 0;
    color: #666;
}

.process-step {
    text-align: center;
}

.process-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid #333;
    object-fit: cover;
}

.arrow-container {
    display: flex;
    align-items: center;
}

.arrow {
    font-size: 2rem;
    margin: 0 20px;
}

.process-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.process-container:hover {
    transform: translateY(-10px);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.process-container p {
    color: #666;
    line-height: 1.6;
    text-align: center;
}

.process-container img {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 2px dashed #333;
    padding: 5px;
}

.process-container img:hover {
    transform: translateY(-10px);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.price {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    position: relative; /* Necesario para la animación */
}

.price::after {
    content: '';]
    display: block;
    width: 0%; /* Inicialmente la línea no tiene ancho */
    height: 2px;
    background-color: #333;
    position: absolute;
    bottom: -5px; /* Coloca la línea debajo del precio */
    left: 50%; /* Centra la línea horizontalmente */
    transform: translateX(-50%); /* Centra la línea horizontalmente */
    transition: width 0.3s ease; /* Animación de la línea */
}

.price:hover::after {
    width: 100%; /* Ancho de la línea al pasar el cursor */
}

.price p {
    color: #666;
    line-height: 1.6;
    text-align: center;
    font-size: 18px;
    transition: opacity 0.3s ease; /* Animación de opacidad */
}

.price:hover p {
    opacity: 1; /* Muestra el texto al pasar el cursor */
    color: #000;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    
}

.ofertas {
    display: flex;
    width: 600px;
    height: 430px;
}

.oferta {
    position: relative;
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: 0.8;
    transition: .5s ease;
}

.oferta img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.oferta:hover {
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}

.oferta-text {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}